<form v-on:submit.prevent="guardarusuarios" data-accion="nuevo" data-idusuarios='' id="frm-usuarios" method="post">
    <div class="card-header">
        registro de usuarios
    
        <button type="button" id="btn-close-usuarios" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="row p-2">
            <div class="col-4">
                CODIGO
            </div>
            <div class="col-6">
                <input type="text" v-model="usuarios.codigo" placeholder="AAAA000000" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                NOMBRE COMPLETOS
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.nombre" placeholder="AAA AAA" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                APELLIDOS COMPLETOS
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.apellidos" placeholder="AAA" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                GENERO
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.genero" placeholder="AAA" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                ESTATUS
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.estatus" placeholder="AAA" class="form-control">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-4">
                FECHA DE NACIMIENTO
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.fecha" placeholder="AAA" class="form-control">
            </div>
        </div>

        <div class="row p-2">
            <div class="col-4">
                DUI
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.dui" placeholder="0000-0000" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                NIT
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.nit" placeholder="0000-0000" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
                usuario
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.usuario" placeholder="AAA" class="form-control">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-4">
              CONTRASEÑA
            </div>
            <div class="col-8">
                <input type="text" v-model="usuarios.contraseña" placeholder="0000-0000" class="form-control">
            </div>
        </div>



        <div class="row p-2"> 
            <div class="col-12 text-center">
                <input id="btnGuardarusuarios" type="submit" class="btn btn-outline-primary text-white" value="Guardar">
                <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                <input type="button" class="btn btn-outline-success mostrar-buscar-usuarios text-white" data-modulo="usuarios" data-form="buscar-usuarios" value="Buscar">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-12 text-center">
                <div class="alert alert-success" role="alert"> 
                    {{ usuarios.msg }}
                </div>
            </div>
        </div>
    </div>
</div>
</form>
